<%- include('header') %>
    <title>Pharmacie - MUTUELLE - <%=mutuelle[0].mutuelle_id%></title>


    <div class="mainContainerBlue">
        <h1> INFORMATIONS DE LA MUTUELLE N° <%=mutuelle[0].mutuelle_id%></h1>
    </div>
    
    <div class="itemModifContainer">
        <div class="align">
            <button class="btnBack" onClick="history.back()"><i class="fa-solid fa-rotate-left"></i></button>
            <form action="/mutuelles/modifier" id="form"  method="POST" enctype="application/x-www-formurlencoded">

                <button class="btnEdit"><i class="fa-regular fa-pen-to-square"></i></button>

                <input hidden type="number" name="id" id="id" value="<%=mutuelle[0].mutuelle_id%>" required>

                <label for="nom">Nom : </label>
                <input type="text" name="nom" id="nom" value="<%=mutuelle[0].mutuelle_nom%>" required>

                <label for="tel">Tel : </label>
                <input type="tel" name="tel" id="tel" value="<%=mutuelle[0].mutuelle_tel%>" required>

                <label for="email">Mail : </label>
                <input type="email" name="email" id="email" value="<%=mutuelle[0].mutuelle_email%>" required>

            </form>
        </div>
    </div>
    
    
    <script src="/scripts/controleSaisie.js"></script>

<%- include('footerModif') %>