<%- include('header') %>
    <title>Pharmacie - POSOLOGIE - <%=posologie[0].posologie_id%></title>

    <div class="mainContainerBlue">
        <h1> MODIFIER LA POSOLOGIE N° <%=posologie[0].posologie_id%> DE L'ORDONNANCE N° <%=posologie[0].posologie_ordonnance_id%></h1>
    </div>
    <div class="itemModifContainer">
        <div class="align">
            
            <button class="btnBack" onClick="history.back()"><i class="fa-solid fa-rotate-left"></i></button>

            <form action="/patients/ordonnances/posologies/modifier" id="form" method="POST" enctype="application/x-www-formurlencoded">

                <button class="btnEdit"><i class="fa-regular fa-pen-to-square"></i></button>

                <input hidden type="number" name="idordo" id="idordo" value="<%=posologie[0].posologie_ordonnance_id%>"required>
                <input hidden type="number" name="numsecu" id="numsecu" value="<%=posologie[0].patient_numsecu%>" required>
                <input hidden type="number" name="idpos" id="idpos" value="<%=posologie[0].posologie_id%>" required>



                <label for="medicament">  Médicament : </label>
                <select name="medicament" id="medicament">

                    <% medicaments.forEach(function(user){ if(user.medicament_id==posologie[0].posologie_medicament_id) { %>
                        <option value="<%= user.medicament_id %>" selected> <%= user.medicament_nom %></option>
                        <% } else {%>
                            <option value="<%= user.medicament_id %>"> <%= user.medicament_nom %></option>
                        <% }})%>
                </select>


                <label for="boites">Boites par mois :
                <input type="number" name="boites" id="boites" value="<%=posologie[0].posologie_nbboitesmois%>" required>

                <label for="duree">Durée en mois : </label>
                <input type="number" name="duree" id="duree" min="1" max="1200" value="<%=posologie[0].posologie_mois_restants%>"required>
            </form>
        </div>
    </div>

    <script src="/scripts/controleSaisie.js"></script>
<%- include('footerModif') %>