<%- include('header') %>
    <title>Pharmacie - PATIENTS</title>
    <div class="mainContainer">
        <h1> LISTE DES PATIENTS  </h1>
        <% patients.forEach(function(user,i){ %>
            <div class="itemContainer">
            
                <button class="btnOrdonnances" onClick="location.href='/patients/ordonnances/<%=user.patient_numsecu%>';"><i class="fa-solid fa-list"></i></button>
                <%if(user.patient_mutuelle_id==null){%>

                    <button class="btnMutuelle" disabled><i class="fa-solid fa-question"></i></button>

                <% }else {%>
                    <button class="btnMutuelle"  onClick="location.href='/mutuelles/modifier/<%=user.patient_mutuelle_id%>';"><i class="fa-regular fa-hospital"></i></button>
                <% } %>


                <button class="btnEdit" onClick="location.href='/patients/modifier/<%=user.patient_numsecu%>/<% if(user.patient_mutuelle_id==null){ user.patient_mutuelle_id = 0 }%><%= user.patient_mutuelle_id  %> ';"><i class="fa-regular fa-pen-to-square"></i></button>


                <script>
                    function popupAttentionOn<%= i+1 %> () {
                        document.getElementById("sup<%=i+1%>").innerHTML = `<button class="btnBack" onClick="popupAttentionOff<%= i+1 %>()"><i class="fa-solid fa-rotate-left"></i></button>`
                        document.getElementById("attention<%= i+1 %>").innerHTML = `Supprimer  <%= user.patient_nom.toUpperCase()%> <%= user.patient_prenom %>&nbsp&nbsp </br>supprimera ses ordonnances&nbsp&nbsp&nbsp <button class="btnDelete" onClick="location.href='/patients/supprimer/<%=user.patient_numsecu%>';"><i class="fa-regular fa-trash-can"></i></button>`
                    }
                    function popupAttentionOff<%= i+1 %> () {

                        document.getElementById("sup<%=i+1%>").innerHTML = `<button class="btnDelete" onclick="popupAttentionOn<%=i+1%>()"><i class="fa-regular fa-trash-can"></i></button>`
                        document.getElementById("attention<%=i+1%>").innerHTML = ``
                    }
                </script>

                <div id="sup<%=i+1%>"><button class="btnDelete"onclick="popupAttentionOn<%=i+1%>()"><i class="fa-regular fa-trash-can"></i></button></div>
                <div class="attention" id="attention<%=i+1 %>"></div>

                    
                    Nom&nbsp:<strong><%= user.patient_nom.toUpperCase()%></strong>
                    Prenom&nbsp:<strong><%= user.patient_prenom %></strong>
                    age&nbsp:<strong><%= new Date().getFullYear() - user.patient_anneenaiss %></strong>
                    N°&nbspde&nbspsecu&nbsp:<strong><%= user.patient_numsecu %></strong>
                
            </div>
        <% })%>

    </div>

            


    <div class="fixedContainer">
        <h2> AJOUTER UN PATIENT </h2>

        <form action="/patients/ajouter" method="POST" id= "form" enctype="application/x-www-formurlencoded">
            <div class="align">

                <label for="nom">Nom&nbsp: </label>
                <input type="text" name="nom" id="nom" required>

                <label for="prenom">Prenom&nbsp: </label>
                <input type="text" name="prenom" id="prenom" required>

                <label for="datenaiss">Date de naissance&nbsp: </label>
                <input type="date" name="datenaiss" id="dateLimiteMax" required>

                <label for="numsecu">N° de secu&nbsp: </label>
                <!-- Min Et Max peuvent etre utilisés pour donner un num de sécu long de 16 charactères -->
                <input type="number"  min=""  max ="" name="numsecu" id="numsecu" required>



                <select name="mutuelle" >
                    <option value="null">Pas de mutuelle</option>
                        <% mutuelles.forEach(function(user,i){ %>
                            <option value="<%= user.mutuelle_id %>"> <%= user.mutuelle_nom %></option>
                        <% })%>
                </select>

                

                <button type="submit">AJOUTER</button>
            </div>
        </form>
    </div>


    <script src="/scripts/controleSaisie.js"></script>
<%- include('footer') %>
